body {
    background-color: #5b9ab8;
    font-family: "Quicksand", sans-serif;
    color: #F4F4F5;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
}

.flag-logo {
    height: 40px;
    padding-right: 4.5px;
}

#game {
    background-color: #cece83;
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    max-height: 450px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.scoreboard {
    background-color: #F4F4F5;
    color: #3939B1;
    font-weight: bold;
    border-radius: 50%;
    margin: 5px auto;
    width: 30%;
    font-size: 1.2rem;
}

#question {
    width: 50%;
    font-size: 1.5rem;
    margin: auto;
    padding: 60px 0;
}

.flagImage {
    width: 95px;
    height: 50px;
}

#right {
    color: green;
    font-weight: bold;
}

#wrong {
    color: red;
    font-weight: bold;
}

.results {
    display: inline-block;
    padding: 25px;
}

.btn {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    color: white;
    padding-top: 5px;
    border-radius: 30%;
    background-color: #F4F4F5;
    border: 10px solid;
    width: 225px;
    height: 100px;
    font-size: 1.5rem;
    margin: 0 30px;
    transition: all 0.5s;
    border-color: #3939B1;
    color: #3939B1;
}

.btn:active,
.btn:hover {
    background-color: #B1B139;
    color: white;
}

@media (max-width: 414px) {
    .btn {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 200px;
        height: 100px;
        font-size: 1.5rem;
    }

    #question {
        padding: 10% 0;
        width: 100%;
    }

    .scoreboard {
        width: 100%;
    }

    .results {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    #game {
        height: 70vh;
    }

    .btn {
        margin: 10px 10px;
    }

    #question {
        padding: 10px 0;
    }

}